@model IEnumerable<MVC_CC_1.Models.Customer>
@{
    ViewBag.Title = "Cust_in_Germany";
}

<h2>Customers in Germany</h2>
<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Contact Title</th>
            <th>Address</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.CompanyName</td>
                <td>@customer.ContactName</td>
                <td>@customer.ContactTitle</td>
                <td>@customer.Address</td>
                <td>@customer.City</td>
                <td>@customer.PostalCode</td>
                <td>@customer.Phone</td>
            </tr>
        }
    </tbody>
</table>

  
          




